CORS_ORIGINS=["http://localhost:5173","http://localhost:3000","http://localhost:8000"]

DATABASE_URL=mysql+pymysql://root:password@localhost/wave_notebook_db

SECRET_KEY=your_secret_key

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30

OTP_EXPIRE_MINUTES=10

# Default Admin
DEFAULT_ADMIN_FIRST_NAME=Administrator
DEFAULT_ADMIN_LAST_NAME=Administrator
DEFAULT_ADMIN_PHONE_NUMBER=
DEFAULT_ADMIN_EMAIL=admin@admin.com
DEFAULT_ADMIN_PASSWORD=admin123

# SMTP
# SMTP_HOST=smtp-relay.brevo.com
# SMTP_PORT=587

# SMTP_USERNAME=b40759001@smtp-brevo.com
# SMTP_PASSWORD=

# SMTP_FROM_EMAIL=
# SMTP_FROM_NAME=Wave Notebook

# Brevo API
BREVO_API_KEY=

EMAIL_FROM=mail
EMAIL_FROM_NAME=Wave Notebook