# CORS
CORS_ORIGINS=["http://localhost:5173","http://localhost:3000","http://localhost:8000"]

# Database
DATABASE_URL=mysql+pymysql://username:password@localhost/wave_notebook_db

# JWT
SECRET_KEY=your_secure_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# OTP
OTP_EXPIRE_MINUTES=10

# Default Admin
DEFAULT_ADMIN_FIRST_NAME=Administrator
DEFAULT_ADMIN_LAST_NAME=Administrator
DEFAULT_ADMIN_PHONE_NUMBER=01700000000
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=your_admin_password

# SMTP
# SMTP_HOST=smtp-relay.brevo.com
# SMTP_PORT=587

# SMTP_USERNAME=b40759001@smtp-brevo.com
# SMTP_PASSWORD=

# SMTP_FROM_EMAIL=
# SMTP_FROM_NAME=Wave Notebook

# Brevo Email
BREVO_API_KEY=your_brevo_api_key
EMAIL_FROM=noreply@example.com
EMAIL_FROM_NAME=Wave Notebook

# File Storage Provider (cloudinary or s3)
FILE_STORAGE_PROVIDER=cloudinary

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# AWS S3
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_S3_BUCKET_NAME=your_bucket_name
AWS_S3_REGION=region
AWS_S3_ENDPOINT_URL=  # Leave empty for AWS, or set for MinIO/custom S3